/************************************
Nav
************************************/


a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: gray;
}

#container {
	margin: 0 auto;
	text-align: center;
}

#header {
	margin: 25px 10px 0 0;
}

ul.nav {
	list-style: none;
	font-family: sans-serif;
	font-size: 14px;
}

ul.nav li {
	float: right;
	margin-right: 20px;
	opacity: 1;
}

#grid-icon {
	width: 1em;
}

#notif-icon {
	width: 2em;
}



/*******************************************
Logo
*******************************************/


#logo {
	height: auto;
	width: auto;
	max-width: 500px;
}

.text {
	width: 193px;
}

.search {
	width: 100%;
}




/*******************************************
Form
*******************************************/

.form {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 14px;
}

