/* Comments */

body {
	font-size: small;
	font-family: arial, sans-serif;

}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: gray;
}


#container {
	margin: 10 0 0 0 auto;
	text-align: center;
}

#nav {
	margin: 25px 10px 0 0;
}


.center {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 14px;
}

#logo {
	width: 55em;
	text-align: center;
	margin: 0 auto;
}

.text {
	width: 193px;
}

.search {
	width: 100%;
}


