/************************************
Nav
************************************/
header {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 30px;
	width: 100%;
	background: #D3D3D3;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: gray;
}

header {
	margin: 25px 10px 0 0;
}

ul.nav {
	list-style: none;
	font-family: sans-serif;
	font-size: 14px;
}

ul.nav li {
	float: right;
	margin-right: 20px;
	opacity: 1;
}

#grid-icon {
	width: 1em;
}

#notif-icon {
	width: 2em;
}



/*******************************************
Logo
*******************************************/


#logo {
	padding-top: 100px;
	display: block;
	margin: 0 auto;
	height: auto;
	width: auto;
	max-width: 500px;
}

#pic {
	clear: both;
	display: block;
	width: 1000px;
	margin: 0 auto;
}


.text {
	width: 193px;
}

.search {
	width: 100%;
}


/*******************************************
Form
*******************************************/

.form {
	padding-top: 50px;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	font-size: 14px;
}



/*******************************************
Footer
*******************************************/

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #D3D3D3;
}

ul.right {
	list-style: none;
	font-family: sans-serif;
	font-size: 14px;
}

ul.right li {
	float: right;
	margin-right: 20px;
	opacity: 1;
}

ul.left {
	list-style: none;
	font-family: sans-serif;
	font-size: 14px;
}

ul.left li {
	float: left;
	margin-left: 20px;
	opacity: 1;
}

li {
	padding-bottom: 5px;
}
